html {
	scroll-behavior: smooth;
  font-size: 100%;
}
  
body {
	background-color: #41221a;
	margin: 0;
	font-family: 'merienda', cursive;
}

/* top navigation bar */

.navbar {
	background-color: #d5b36c;
	overflow: hidden;
}

.dropbtn {
	position: relative;
	right: 3.33rem;
	float: right;
	font-size: 2.33rem;
	color: #41221a;
	top: 1.41667rem;
}

.dropbtn:hover{
	transform: scale(1.15);
}

.dropdown-content {
	display: none;
	position: absolute;
	right: 1.55rem;
	top: 4.44rem;
	background-color: #d5b36c;
	/* border: 4px solid #41221a; */
	border-radius: 10px;
	min-width: 11.11rem;
	box-shadow: 0px 2px 10px 11px rgb(0 0 0 / 20%);
	z-index: 1;
}

.dropdown-content a {
  color: #41221a;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
    /* text-decoration: underline; */
    border: 2px solid black;
    border-radius: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navbar #oldlogo {
	float: left;
	margin: 1.0278rem 0.8333rem;
	width: 9.556rem;
}

/* bottom section */

#whatsapp {
	position: fixed;
	border: 0.166rem solid #d5b36c;
	border-radius: 10px;
	background-color: #41221A;
	height: 4rem;
	width: 4rem;
	float: right;
	right: 3.22rem;
	bottom: 1.94rem;
	z-index: 2;
}

.fa-whatsapp {
	color: #d5b36c;
	font-size: 2.478rem;
	position: absolute;
	top: 18%;
	left: 23.7%;
}

.fa-whatsapp:hover {
	transform: scale(1.1);
}

footer {
	height: 4.556rem;
	background-color: #d5b36c;
	position: fixed;
	width: 100%;
	bottom: 0;
}

footer p {
	position: absolute;
	color: #41221a;
	z-index: 1;
	bottom: -0.0556rem;
	right: 8.778rem;
	display: inline-block;
	font-size: 1.667rem;
}

@media(max-width: 998px){
  html {
    font-size: 60%;
  }

	.navbar #oldlogo {
		top: 1.211rem;
    width: 13.956rem;
	}

	.dropbtn {
		top: 2.02778rem;
	}

  .dropdown-content a {
		font-size: 1.47rem;
	}
}

@media(max-width: 768px){
  html {
    font-size: 52.5%;
  }

	.dropbtn {
		right: 30px;
	}

	#whatsapp {
		right: 0.889rem;
	}

	footer p {
		right: 7.22rem;
		top: -0.733rem;
		font-size: 1.611rem;
	}
}
